.aside {
  background-color: #ec3838bd;
  padding: 50px;
  grid-row: 1 / -1;
}

.aside-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aside-nav-item {
  margin-bottom: 10px;
  margin-top: 25px;
}

.aside-nav-item a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.aside-nav-item a:hover {
  background-color: #a55118;
  color: #fff;
}

/* Ocultar en pantallas pequeñas */
@media (max-width: 768px) {
  .aside {
    display: none;
  }
}
