body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: sans-serif;
}

.dashboard-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
  
.dashboard-metrics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

/* commonStyles.css */

.metric-card {
    background-color: #e6f0ff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  