.card {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.3s;
    padding: 10px;
    border-radius: 10px;
    background-color: #444;
  }
  
  .product-info:hover {
    transform: scale(1.1);
  }
  
  .product-info:first-child {
    flex: 0 0 60%; /* Ajustar el ancho del primer elemento */
  }
  
  .product-info:nth-child(2) {
    flex: 0 0 40%; /* Ajustar el ancho del segundo elemento */
  }
  
  .product-info:nth-child(3) {
    flex: 0 0 30%; /* Ajustar el ancho del tercer elemento */
  }
  
  .product-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .product-sales {
    font-size: 14px;
    text-align: center;
  }
  
  